In [1]:
import pandas as pd
import numpy as np

In [2]:
happy = pd.read_csv('data/happy.csv')
freedom = pd.read_csv('data/freedom.csv')
suicides = pd.read_csv('data/suicide.csv')

In [3]:
happy = happy.dropna()

In [4]:
happy.isna().sum()

Country                              0
Regional Indicator                   0
Year                                 0
Life Ladder                          0
Log GDP Per Capita                   0
Social Support                       0
Healthy Life Expectancy At Birth     0
Freedom To Make Life Choices         0
Generosity                           0
Perceptions Of Corruption            0
Positive Affect                      0
Negative Affect                      0
Confidence In National Government    0
dtype: int64

In [5]:
len(happy)

1683

In [6]:
freedom.isna().sum()

Country         0
Region          0
C/T             0
Year            0
Status          0
PR rating       0
CL rating       0
A1              0
A2              0
A3              0
A               0
B1              0
B2              0
B3              0
B4              0
B               0
C1              0
C2              0
C3              0
C               0
Add Q           0
Add A        1258
PR              0
D1              0
D2              0
D3              0
D4              0
D               0
E1              0
E2              0
E3              0
E               0
F1              0
F2              0
F3              0
F4              0
F               0
G1              0
G2              0
G3              0
G4              0
G               0
CL              0
Total           0
dtype: int64

In [7]:
suicides.isna().sum()

Country                   0
Year                      0
sex                       0
age                       0
suicides_no               0
population                0
suicides/100k pop         0
country-year              0
HDI for year          19456
 gdp_for_year ($)         0
gdp_per_capita ($)        0
generation                0
dtype: int64

In [8]:
happy.head()

,Country,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,South Asia,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,South Asia,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,South Asia,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,South Asia,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,South Asia,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919,0.435440

In [9]:
happy["Healthy Life Expectancy At Birth"].max()

74.34999847

In [10]:
freedom.Total.min()

-1

In [11]:
freedom["Status"].unique()

array(['PF', 'NF', 'F'], dtype=object)

In [12]:
suicides.head()

,Country,Year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [13]:
happy = happy.drop(columns=['Regional Indicator', 'Log GDP Per Capita', 'Healthy Life Expectancy At Birth', 'Generosity'])
happy.head()

,Country,Year,Life Ladder,Social Support,Freedom To Make Life Choices,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,2008,3.723590,0.450662,0.718114,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,2009,4.401778,0.552308,0.678896,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,2010,4.758381,0.539075,0.600127,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,2011,3.831719,0.521104,0.495901,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,2012,3.782938,0.520637,0.530935,0.775620,0.613513,0.267919,0.435440

In [14]:
suicides = suicides.drop(columns=['country-year', 'HDI for year'])
suicides = suicides.drop(columns=[col for col in suicides.columns if "gdp" in col])
suicides.head()

,Country,Year,sex,age,suicides_no,population,suicides/100k pop,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Boomers

In [15]:
freedom = freedom.drop(columns=[col for col in freedom.columns if len(col) == 2 or len(col) == 1])
freedom = freedom.drop(columns=["Add Q", "Add A", 'C/T', 'Status', 'Region'])
freedom.head()

       Country  Year  PR rating  CL rating  Total
0     Abkhazia  2023          5          5     39
1  Afghanistan  2023          7          7      8
2      Albania  2023          3          3     67
3      Algeria  2023          6          5     32
4      Andorra  2023          1          1     93

In [16]:
merged_df = pd.merge(happy, freedom, on=['Country', 'Year'], how='inner')
display(merged_df.columns)
merged_df = pd.merge(merged_df, suicides, on=['Country', 'Year'], how='inner')

Index(['Country', 'Year', 'Life Ladder', 'Social Support',
       'Freedom To Make Life Choices', 'Perceptions Of Corruption',
       'Positive Affect', 'Negative Affect',
       'Confidence In National Government', 'PR rating', 'CL rating', 'Total'],
      dtype='object')

In [17]:
merged_df.tail()

,Country,Year,Life Ladder,Social Support,Freedom To Make Life Choices,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government,PR rating,CL rating,Total,sex,age,suicides_no,population,suicides/100k pop,generation
2057,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,25-34 years,23,232133,9.91,Millenials
2058,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,35-54 years,38,440475,8.63,Generation X
2059,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,15-24 years,17,255067,6.66,Millenials
2060,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,male,5-14 years,3,252509,1.19,Generation Z
2061,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,5-14 years,2,241598,0.83,Generation Z

In [18]:
merged_df = merged_df.rename({'Total': 'Total happiness'})

In [19]:
merged_df.tail()

,Country,Year,Life Ladder,Social Support,Freedom To Make Life Choices,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government,PR rating,CL rating,Total,sex,age,suicides_no,population,suicides/100k pop,generation
2057,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,25-34 years,23,232133,9.91,Millenials
2058,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,35-54 years,38,440475,8.63,Generation X
2059,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,15-24 years,17,255067,6.66,Millenials
2060,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,male,5-14 years,3,252509,1.19,Generation Z
2061,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,5-14 years,2,241598,0.83,Generation Z

In [20]:
merged_df.columns

Index(['Country', 'Year', 'Life Ladder', 'Social Support',
       'Freedom To Make Life Choices', 'Perceptions Of Corruption',
       'Positive Affect', 'Negative Affect',
       'Confidence In National Government', 'PR rating', 'CL rating', 'Total',
       'sex', 'age', 'suicides_no', 'population', 'suicides/100k pop',
       'generation'],
      dtype='object')

In [21]:
df = merged_df.copy()
df['weighted_suicides'] = df['suicides/100k pop'] * df['population']
    
grouped = df.groupby(['Country', 'Year'])
aggregated_data = grouped.agg({
    'population': 'sum',
    'suicides_no': 'sum',
    'Life Ladder': 'first',  # Assuming these values are constant for each group
    'Social Support': 'first',
    'Freedom To Make Life Choices': 'first',
    'Perceptions Of Corruption': 'first',
    'Positive Affect': 'first',
    'Negative Affect': 'first',
    'Confidence In National Government': 'first',
    'PR rating': 'first',
    'CL rating': 'first',
    'Total': 'first',
    'weighted_suicides': 'sum'
})
aggregated_data['suicides/100k pop'] = aggregated_data['weighted_suicides'] / aggregated_data['population']
aggregated_data.drop('weighted_suicides', axis=1, inplace=True)
aggregated_data.reset_index(inplace=True)

# Add the constant columns
aggregated_data['generation'] = 'All'
aggregated_data['sex'] = 'Both'
aggregated_data['age'] = 'All'
sum_data = aggregated_data

In [22]:
grouped = df.groupby(['Country', 'Year', 'sex'])
aggregated_data = grouped.agg({
    'population': 'sum',
    'suicides_no': 'sum',
    'Life Ladder': 'first',  # Assuming these values are constant for each group
    'Social Support': 'first',
    'Freedom To Make Life Choices': 'first',
    'Perceptions Of Corruption': 'first',
    'Positive Affect': 'first',
    'Negative Affect': 'first',
    'Confidence In National Government': 'first',
    'PR rating': 'first',
    'CL rating': 'first',
    'Total': 'first',
    'weighted_suicides': 'sum'
})
aggregated_data['suicides/100k pop'] = aggregated_data['weighted_suicides'] / aggregated_data['population']
aggregated_data.drop('weighted_suicides', axis=1, inplace=True)
aggregated_data.reset_index(inplace=True)

aggregated_data['generation'] = 'All'
aggregated_data['age'] = 'All'

In [30]:
new_df = pd.concat([merged_df, sum_data])
display(new_df.tail())
final_df = pd.concat([new_df, aggregated_data])

,Country,Year,Life Ladder,Social Support,Freedom To Make Life Choices,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government,PR rating,CL rating,Total,sex,age,suicides_no,population,suicides/100k pop,generation
169,United States,2014,7.151114,0.902097,0.866077,0.702267,0.785791,0.281265,0.348671,1,1,92,Both,All,42769,297749735,14.364913,All
170,United States,2015,6.863947,0.903571,0.848753,0.697543,0.768671,0.274688,0.346936,1,1,92,Both,All,44189,300078511,14.726873,All
171,Uruguay,2013,6.444465,0.917280,0.888278,0.585632,0.742916,0.253229,0.524400,1,1,97,Both,All,546,3164670,17.252481,All
172,Uruguay,2014,6.561444,0.901898,0.904333,0.533495,0.788126,0.251499,0.595346,1,1,98,Both,All,591,3177645,18.598660,All
173,Uruguay,2015,6.628080,0.891493,0.916880,0.673476,0.811902,0.299538,0.550559,1,1,98,Both,All,630,3190795,19.743488,All

In [31]:
final_df.head()

,Country,Year,Life Ladder,Social Support,Freedom To Make Life Choices,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government,PR rating,CL rating,Total,sex,age,suicides_no,population,suicides/100k pop,generation
0,Argentina,2013,6.58226,0.909874,0.73725,0.8229,0.766157,0.254205,0.433749,2,2,80,male,75+ years,168,699046,24.03,Silent
1,Argentina,2013,6.58226,0.909874,0.73725,0.8229,0.766157,0.254205,0.433749,2,2,80,male,15-24 years,696,3486661,19.96,Millenials
2,Argentina,2013,6.58226,0.909874,0.73725,0.8229,0.766157,0.254205,0.433749,2,2,80,male,25-34 years,499,3271373,15.25,Millenials
3,Argentina,2013,6.58226,0.909874,0.73725,0.8229,0.766157,0.254205,0.433749,2,2,80,male,55-74 years,398,2894129,13.75,Boomers
4,Argentina,2013,6.58226,0.909874,0.73725,0.8229,0.766157,0.254205,0.433749,2,2,80,male,35-54 years,604,4950850,12.20,Generation X

In [32]:
final_df.tail()

,Country,Year,Life Ladder,Social Support,Freedom To Make Life Choices,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government,PR rating,CL rating,Total,sex,age,suicides_no,population,suicides/100k pop,generation
343,Uruguay,2013,6.444465,0.917280,0.888278,0.585632,0.742916,0.253229,0.524400,1,1,97,male,All,423,1519761,27.832337,All
344,Uruguay,2014,6.561444,0.901898,0.904333,0.533495,0.788126,0.251499,0.595346,1,1,98,female,All,131,1651079,7.933370,All
345,Uruguay,2014,6.561444,0.901898,0.904333,0.533495,0.788126,0.251499,0.595346,1,1,98,male,All,460,1526566,30.133855,All
346,Uruguay,2015,6.628080,0.891493,0.916880,0.673476,0.811902,0.299538,0.550559,1,1,98,female,All,131,1657298,7.903728,All
347,Uruguay,2015,6.628080,0.891493,0.916880,0.673476,0.811902,0.299538,0.550559,1,1,98,male,All,499,1533497,32.539085,All

In [33]:
merged_df.tail()

,Country,Year,Life Ladder,Social Support,Freedom To Make Life Choices,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government,PR rating,CL rating,Total,sex,age,suicides_no,population,suicides/100k pop,generation
2057,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,25-34 years,23,232133,9.91,Millenials
2058,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,35-54 years,38,440475,8.63,Generation X
2059,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,15-24 years,17,255067,6.66,Millenials
2060,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,male,5-14 years,3,252509,1.19,Generation Z
2061,Uruguay,2015,6.62808,0.891493,0.91688,0.673476,0.811902,0.299538,0.550559,1,1,98,female,5-14 years,2,241598,0.83,Generation Z

In [34]:
sum_data.tail()

,Country,Year,population,suicides_no,Life Ladder,Social Support,Freedom To Make Life Choices,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government,PR rating,CL rating,Total,suicides/100k pop,generation,sex,age
169,United States,2014,297749735,42769,7.151114,0.902097,0.866077,0.702267,0.785791,0.281265,0.348671,1,1,92,14.364913,All,Both,All
170,United States,2015,300078511,44189,6.863947,0.903571,0.848753,0.697543,0.768671,0.274688,0.346936,1,1,92,14.726873,All,Both,All
171,Uruguay,2013,3164670,546,6.444465,0.917280,0.888278,0.585632,0.742916,0.253229,0.524400,1,1,97,17.252481,All,Both,All
172,Uruguay,2014,3177645,591,6.561444,0.901898,0.904333,0.533495,0.788126,0.251499,0.595346,1,1,98,18.598660,All,Both,All
173,Uruguay,2015,3190795,630,6.628080,0.891493,0.916880,0.673476,0.811902,0.299538,0.550559,1,1,98,19.743488,All,Both,All

In [35]:
aggregated_data.tail()

,Country,Year,sex,population,suicides_no,Life Ladder,Social Support,Freedom To Make Life Choices,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government,PR rating,CL rating,Total,suicides/100k pop,generation,age
343,Uruguay,2013,male,1519761,423,6.444465,0.917280,0.888278,0.585632,0.742916,0.253229,0.524400,1,1,97,27.832337,All,All
344,Uruguay,2014,female,1651079,131,6.561444,0.901898,0.904333,0.533495,0.788126,0.251499,0.595346,1,1,98,7.933370,All,All
345,Uruguay,2014,male,1526566,460,6.561444,0.901898,0.904333,0.533495,0.788126,0.251499,0.595346,1,1,98,30.133855,All,All
346,Uruguay,2015,female,1657298,131,6.628080,0.891493,0.916880,0.673476,0.811902,0.299538,0.550559,1,1,98,7.903728,All,All
347,Uruguay,2015,male,1533497,499,6.628080,0.891493,0.916880,0.673476,0.811902,0.299538,0.550559,1,1,98,32.539085,All,All